@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

body{
    font-family: 'Nunito', sans-serif;
    margin: 0 auto;
    background-color: #d7e4fa;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}