@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    min-height: 100vh;
    margin: 0;
    background-color: #e1e6eb;
    text-align: center;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.position-nav{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

.champions{
    padding: 20px 100px
}

.position{
    background-color: #737679;
    color: white;
    border-radius: 15px;
    width: 100px;
}

.dark{
    background: #192734;
    color: white;
}

.dark button{
    color: white;
}

img{
    border-radius: 15px;
}

.position{cursor: pointer;}